.section_header{
  color: #c1c1c1;
  padding: 10px 10px;
}

.section_row{
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.section_rows a{
    text-decoration: none;
    color: inherit;
}
.section_rows img{
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.section_row-column{
  display: flex;
  align-items: center;

}
.section_row.with-tagline{
  justify-content:space-between;
}
.tagline{
  background-color: #c1c1c1;
  color: #523737;
  padding: 5px 6px;
  font-size: 10px;
}
