.top_header{
  top:0;
  position: fixed;
  background-color: #523737;
  color: white;
  width: 100%;
  padding: 10px 10px;
}

.header-top,
.header-bottom{
  display: flex;
  justify-content: space-between;
}
.header-bottom{
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;

}

.header-top{
  font-size: 15px;
  margin-bottom: 10px;
}
.header_column{
  width: 33%;
}

.header_column:last-child{
  text-align: right;
}

.header_column:nth-child(2){
  text-align: center;
}

.header_column_number{
  color: yellow;
}
