.header{
  background-color: #523636;
  color:white;
  width: 100%;
  position: fixed;
  top: 0px;
}

.header .header_top{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 10px 10px;
  font-size: 17px;
}

.header .header_bottom{
  display: flex;
  justify-content: space-between;
  padding : 10px 30px 10px 30px;
  font-size: 25px;
  color: #C4BBBB;
}

.header .header_column_number{
  color: yellow;
}

.header .header_column{
  width: 33%;
}

.header .header_column:last-child{
  text-align: right;
}

.header .header_column:nth-child(2){
  text-align: center;
}
