.navigation{
  bottom: 0px;
  position: fixed;
  background-color: #F7F7F7;
  width: 100%;
  border-top: 1px solid #D4D4D4;
  padding: 20px 30px 30px 30px;
  display: flex;
  justify-content: space-between;

}

.navigation a{
  text-decoration: none;
  color: #C1C1C1;
}

.navigation i{
  font-size: 40px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.navigation .navigation_column_text{
  font-size: 20px;
}
.navigation .navigation_column-selected{
  color: #523636;
}
