.search-bar i{
  position: absolute;
  color: #523737;
  left: 20px;
}

.search-bar input{
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  background-color: #f1f1f1;
  border: none;
}
.search-bar input:focus{
  outline: none;
}
