@import 'reset.css';
@import 'header2.css';
@import 'navigation2.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import "globals2.css";
@import 'search-bar2.css';
@import 'friends2.css';
@import 'chats2.css';
